main{
    width: 100vw;
    height: 100vh;
    background-color: #8E89AF;
    margin:0px;
}
ul li {
    display:inline-block;
    font-size:20px;
    float:right;
    padding:10px 20px;
    position: relative;
  }
ul li a{
    color:whitesmoke;
    position: relative;
    bottom:45px;
    text-decoration: none;
    font-size: 32px;
    z-index:1000;
  }
ul li a:hover{
    color:orange;
    text-decoration: underline;
  }
h1{
    font-size: 100px;
    font-family: Vidaloka;
    position: relative;
    top: 25px;

}
#combine{
    display: flex;
    width: 80vw;
    height: 500px;
    margin: 0 auto;
    position:relative;
    top: 100px;
    left: 100px;
}
.image-circle-aki{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 10px #00F9A9;
    position: relative;
    bottom: 35px;
    right: 210px;
}
.image-circle-sachi{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 10px #00F9A9;
    position: relative;
    right: 180px;
}
.image-circle-ion{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 10px #00F9A9;
    position: relative;
    bottom: 35px;
    right: 80px;
}
.image-circle-shu{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 10px #00F9A9;
    position: relative;
    right: 45px;
}
.image-circle-shinya{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 10px #00F9A9;
    position: relative;
    bottom: 35px;
    left: 50px;
}
.second, .fourth{
    align-self: flex-end;
}
html, body, *{
    margin:0px;
}
.information{
    font-size: 30px;
    font-family: Vidaloka;  
}
.akimoji{
    position: relative;
    right: 170px;
}
.sachimoji{
    position: relative;
    top: 30px;
    right: 145px;

}
.ionmoji{
    position: relative;
    right: 20px;
}
.shumoji{
    position: relative;
    top: 30px;
    left: 20px;
}
.shinyamoji{
    position: relative;
    left: 95px;
}
.comment1{
    padding: 10px 50px;
    width: 225px;
    height: 150px;
    background: #E0EDFF;
    text-align: left;
    color: #555555;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    bottom: 40px;
    right: 880px;
    font-family: Vidaloka;
}
.comment2{
    padding: 10px 50px;
    width: 225px;
    height: 150px;
    background: #E0EDFF;
    text-align: left;
    color: #555555;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 285px;
    right: 930px;
    font-family: Vidaloka;
}
.comment3{
    padding: 10px 50px;
    width: 225px;
    height: 150px;
    background: #E0EDFF;
    text-align: left;
    color: #555555;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    bottom: 40px;
    right: 910px;
    font-family: Vidaloka;
}
.comment4{
    padding: 10px 50px;
    width: 225px;
    height: 150px;
    background: #E0EDFF;
    text-align: left;
    color: #555555;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 285px;
    right: 955px;
    font-family: Vidaloka;
}
.comment5{
    padding: 10px 50px;
    width: 225px;
    height: 150px;
    background: #E0EDFF;
    text-align: left;
    color: #555555;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    bottom: 40px;
    right: 965px;
    font-family: Vidaloka;
}
.commesize{
    font-size: 15px;
}
#container-contact{
    position: relative;
    top: 70px;
}